body {
  margin: 0;
  padding: 5rem 0.5rem 0;
  font-family: atkinson_hyperlegible, Helvetica, Arial, sans-serif;
  background-color: #111;
  color: #f9f9f9;
  overflow-y: scroll;
  line-height: 1.5;
}

main {
  max-width: 56rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

svg {
  display: block;
  width: 1.5rem;
  fill: currentcolor;
}
