.media-item {
  display: grid;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: #191919;
  border-radius: 0.25rem;
  color: #ddd;

  &__top {
    display: flex;
    gap: 0.25rem;
    color: #fafafa;

    > h3 {
      flex: 1;
    }
  }
}
